body{
    margin: 0;
    font-family: roboto;
    font-family:'Roboto', sans-serif;
    margin-right: 0;
    
    
     
 }
 
 p{
     padding-bottom: 1vh;
 }
 
 header{
     display: flex;
     flex-direction: row;
     background-color:rgb(42, 9, 189) ;
     justify-content: space-between;
     padding:0;
     height: 43px;
     color: white;
     font-weight: bold;
     width: 100%;
 }
 
 .logo{
  padding-top: 14px;
  padding-left:14px;
 }
 
 
 footer{
     height: 14vh;
     width: 100%;
     background-color:  #424242;
 }
 
 .presentacion{
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 100%;
     color:white;
     height: 90vh;
     text-align: center;
     background-image:linear-gradient(
         0deg,
         rgba(0,0,0,0.5),
         rgba(0,0,0,0.5)
     )
     ,url("imagenes/background.jpg");
     background-repeat: no-repeat;
 }
 
 .cursosrealizados{
     padding-top: 1px;
 }
 .cuadro{
     align-self: center;    
     width: 30vh;
     height: 30vh;
 }
 
 .mifoto{
     border-radius: 500px;
     width: 20vh;
 }
 
 .name{
    padding-top: 0;
 }
 
 .sobremi{
     display: flex;
     flex-direction: column;
     
     justify-content: center;
 }
 
 ul{
     display: flex;  
     flex-direction: column;
     align-content: flex-start;
     align-self: center;
     margin-bottom: 30px;
     
 }
 .s{
    text-align: center;
 
     
 }
 
 .proyectos{
  background-color:rgb(33, 33, 33);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
 }
 
 .contenedorproyectos{
     display: flex;
     flex-direction: column;
     justify-content: center;
 }
 .div_proyecto{
     padding-bottom: 13px;
     border: 1px solid white;
     margin-left: 20px;
     width: 70%;
     align-self: center;
     margin-bottom: 20px;
     border-radius: 20px;
 }
 
 .a_proyectos{
     color: white;
     padding-bottom: 20px;
    
 }
 .contenedorimagen{
     width: 90%;
     margin-left: 5.5%;
     height: 20vh;
 }
 
 .img_perlashoop{
     object-fit: cover;
     width: 100%;
     height: 100%;
 }
 
 .imagenes_aptitudes{
     display: flex;
     
     flex-direction: row;
    
     width: 100%;
     height: 140px;
     justify-content: center;
 
 }
 
 .contenedoraptitudes{
     align-self: center;
     width: 70%;
     
     
 }
 
 
 .div_ico{
     
     width: 100px;
     height: 60px;
     margin-top: 3vh;
     
     
 }
 
 .logos{
     width: 100%;
     height: 100%;
 }
 
 .card a, footer a {
     color: white;
 }
 
 .red-social{
     height: 60px;
     background-color: #F2F2F2;
     border-radius: 10px;
     
 }
 
 .insta{
     margin-left: 3vh;
     
 }
 footer{
     background-color: #424242;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     color: #F2F2F2;
     height: 180px;
 }
 .contacto{
     width: 30%;
     display: flex;
     justify-content: center;
     align-self: center;
 }
 .gmail{
     padding-bottom: 10px;
 }
 .contenedorcursos{
     margin-top: 1px;
     display:flex;
     flex-direction: column;
     justify-content: center;
 }
 
 @media (min-width:500px){
     .div_ico{
     
         width: 100px;
         height: 100px;
         margin-top: 3vh;
         
         
     }
 
    
 }
 
 @media (min-width:700px){
 
    .p_sobremi{
      width: 50%;
      align-self: center;
    }
    
    .contenedorproyectos{
     display: flex;
     flex-direction: row;
    }
 
    .div_proyecto{
     width: 280px;
     margin-left: 3vh;
     height: 320px;
    }
 
    nav div{
     display: flex;
     flex-direction: row;
    }
    .img_perlashoop{
        height: 150px;
    }
 }
 
 @media (max-height:500px){
     .contenedorcursos{
         margin-top: 20px;
         display: flex;
         justify-content: center;
     }
     }
